

          <!-- App body starts -->
          <div class="app-body">

            <!-- Row starts -->
            <div class="row gx-3">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="card-title">Liste des patients</h5>
                    <!-- <a href="add-patient.html" class="btn btn-primary ms-auto">Add Patient</a> -->
                  </div>
                  <div class="card-body">

                    <!-- Table starts -->
                    <div class="table-responsive">
                      <table id="basicExample" class="table truncate m-0 align-middle">
                        <thead>
                          <tr>
                            <th>No.</th>
                            <th>Nom(s)-Prénom(s)</th>
                            <th>Groupe sanguin</th>
                            <th>Observation Consultation</th>
                            <th>Telephone</th>
                            <th>Email</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of PatientList ; let index = index">
                            <td>#{{item.IdUtilisateurPad}}</td>
                            <td>
                              <img [src]="'assets/images/patient'+(index+1)+'.png'" class="img-shadow img-2x rounded-5 me-1"
                                alt="Medical Admin Template">
                              {{item.NomPrenom}}
                            </td>
                            <td>{{item.GroupeSanguin}}</td>
                            <td>
                              {{item.observations}}
                            </td>
                            <td>{{item.telephone}}</td>
                            <td>{{item.email}}</td>
                            <td>
                              <div class="d-inline-flex gap-1">
                                <a [routerLink]="['/PatientDetails',item.idUtilisateur]" class="btn btn-outline-info btn-sm"
                                  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="View Dashboard">
                                  <i class="ri-eye-line"></i>
                                </a>
                              </div>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                    <!-- Table ends -->


                  </div>
                </div>
              </div>
            </div>
            <!-- Row ends -->

          </div>
          <!-- App body ends -->
